<!DOCTYPE html>
<html>
	<head>
		<title>"contexto" | <%= @title %></title>
	</head>
	<body>
		<div class="container">

	      <!-- Main hero unit for a primary marketing message or call to action -->
	      <div class="hero-unit">
	        <h1>contexto</h1>
	        <p>Searchify your App</p>
	      	<div class="span8">
                <h3>Advertising Keyword</h3>
                <ol>
                  <%= render @advertisingkeyword %>
                </ol>
  </div>
	      </div>
	</body>
</html>