<!DOCTYPE html>
<html>
	<head>
		<title>"contexto" | <%= @title %></title>
	</head>
	<body>
		<div class="container">

	      <!-- Main hero unit for a primary marketing message or call to action -->
	      <div class="hero-unit">
	        <h1>contexto</h1>
	        <p>Searchify your App</p>
	        <p><a href="home" class="btn btn-primary btn-large">Learn more »</a></p>
	      </div>

	      <!-- Example row of columns -->
	      <div class="row">
	        <div class="span4">
	          <h2>What do we do?</h2>
	          <p>We bring the context rich world of search into apps. We built unique technology that can have deep understanding of customers' context within an app enviroment.  </p>
	          <p><a class="btn" href="home">View details »</a></p>
	        </div>
	        <div class="span4">
	          <h2>What do we offer our app developers?</h2>
	          <p>1. Get your app discovered and used by new or existing customers <br> 2. Boost your ad earning by providing richer data about context within your app </p>
	          <p><a class="btn" href="home">View details »</a></p>
	       </div>
	        <div class="span4">
	          <h2>What do our customers say about us?</h2>
	          <p>"Easy to integrate and provides a real boost to ad earnings" <br> "The most efficient customer aquisition pipeline"</p>
	          <p><a class="btn" href="home">View details »</a></p>
	        </div>
	      </div>

	      <hr>
	    </div> <!-- /container -->
	</body>
</html>

